<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Login Form</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" id="username" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" id="password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" id="login" href="javascript:void(0)">Log in</a>
                        
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i></h1>
                                <p></p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

           
        </div>
    </div>
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#login').on('click', function(e){
                var username=password='', flag=1;

                username=$('#username').val();
                password=$('#password').val();

                // Kiểm tra dữ liệu

                // Tổng kết
                if(flag==1)
                {
                    $.ajax({
                        url: '/admin/user/admin/login',
                        type: 'POST',
                        data: {username, password},
                        success: function(results){
                            alert(results.msg)
                            if(results.kq==1){
                                window.location.href = '/admin/product/index';
                            }
                        }
                    });
                    return false;
                }
            })
        })
    </script>
</body>

</html>